<div class="container d-flex justify-content-center">
<% @posts.each do |post| %> 
<div class="card mb-3 mr-3 mt-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.content %></p>
    <a href="<%= edit_post_path(post) %>" class="card-link">Edit</a>
    <a href="<%= post_path(post) %>" class="card-link">Show</a>
    <%= link_to 'delete' , post , method: :delete , class:"card-link" %>
  </div>
</div>
<% end %>
</div>